<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>客人登记</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <style type="text/css">
    </style>
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">租车管理系统</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/index">客人查询</a>
                    </li>
                    <li>
                        <a href="/zulin">租赁登记</a>
                    </li>
                    <li>
                        <a href="/guihuan">归还登记</a>
                    </li>
                    <li>
                        <a href="/tongji">统计分析</a>
                    </li>
                    <li>
                        <a href="/type">类别档案</a>
                    </li>
                    <li>
                        <a href="/archives">汽车档案</a>
                    </li>
                    <li>
                        <a href="/tuichu">退出系统</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <%
                        if(!login){
                        %>
                        <li>
                            <a href="/reg">注册</a>
                        </li>
                        <li>
                            <a href="/">登陆</a>
                        </li>
                        <%
                        }else{
                        %>
                            <li>
                                <a href="#">
                                    <%=name%>
                                </a>
                            </li>
                            <%
                        }
                        %>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div class="container" style="margin-top: 10px">
        <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModal">
            增加
        </button>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">创建员工</h4>
                    </div>
                    <div class="modal-body">
                        <form id="biaodan" action="/doadd" method="post">
                            <p>id：
                                <input type="text" name="id" />
                            </p>
                            <p>姓名:
                                <input type="text" name="name" />
                            </p>
                            <p>
                                电话:
                                <input type="text" name="tel" id="tel"/>
                            </p>
                            <p>
                                住址:
                                <input type="text" name="addr" />
                            </p>
                            <p>
                                省份证号码:
                                <input type="text" name="Idcard" id="Idcard"/>
                            </p>
                            <p>
                                驾驶证号码:
                                <input type="text" name="jiashi" />
                            </p>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="btn">ok</button>
                    </div>
                </div>
            </div>
        </div>

        <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModal1" id="update">
            修改
        </button>

        <!-- Modal -->
        <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">编辑员工</h4>
                    </div>
                    <div class="modal-body">
                        <form id="biaodan2" action="/doadd" method="post">
                            <p>id：
                                <input type="text" name="id" id="id" disabled/>
                            </p>
                            <p>姓名:
                                <input type="text" name="names" id="name" />
                            </p>
                            <p>
                                电话:
                                <input type="text" name="tels" />
                            </p>
                            <p>
                                住址:
                                <input type="text" name="addrs" />
                            </p>
                            <p>
                                省份证号码:
                                <input type="text" name="Idcards" />
                            </p>
                            <p>
                                驾驶证号码:
                                <input type="text" name="jiashis" />
                            </p>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="ok">ok</button>
                    </div>
                </div>
            </div>
        </div>

        <button type="button" class="btn btn-danger btn-md" data-toggle="modal" data-target="#myModal4">
            删除
        </button>

        <!-- Modal -->
        <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">删除员工</h4>
                    </div>
                    <div class="modal-body">
                        <p>真的要删除?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary shan  ">ok</button>
                    </div>
                </div>
            </div>
        </div>
        <table class="table  table-striped navbar-default" style="margin-top: 50px">
            <tr>
                <th></th>
                <th>id</th>
                <th>客户姓名</th>
                <th>电话</th>
                <th>住址</th>
                <th>省份证号码</th>
                <th>驾驶证号码</th>
            </tr>

            <tbody id="tbody"></tbody>

        </table>
        <div id="pagenavbox"></div>
    </div>


    <script src="js/jquery-1.12.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/PageNav.js"></script>
    <script>
        //退出
        $("#tui").click(function () {
            $.get("/tuichu", function (data) {
                alert("成功");
                window.location = "/";
            })
        })
        $('#tel').blur(function () {
            var str=$(this).val();
            // console.log(str)
            function isPoneAvailable(str) {
                var myreg = /^[1][3,4,5,7,8][0-9]{9}$/;
                if (!myreg.test(str)) {
                    alert('手机号码输入错误')
                    return false;
                } else {
                    return true;
                }
            }
            isPoneAvailable(str)
        })
        $('#Idcard').blur(function(){
            var card=$(this).val();
            // alert(card)
            if(card.length!=18&&card.length!=15){
                alert('请输入18位省份证号码')
            }else{
                return true;
            }
        })
        //添加
        $("#btn").click(function () {
            $.post("/doadd", {
                id: parseInt($("input[name=id]").val()),
                name: $("input[name=name]").val(),
                tel: $("input[name=tel]").val(),
                addr: $("input[name=addr]").val(),
                Idcard: $("input[name=Idcard]").val(),
                jiashi: $("input[name=jiashi]").val(),

            }, function (data) {
                console.log(data.result);
                if (data.result == 1) {
                    alert("提交成功！");
                    window.location.href = '/index';
                    $("input[type=text]").val("");
                } else if (data.result == -1) {
                    alert("提交失败，学号被占用！");
                } else if (data.result == -2) {
                    alert("服务器错误！请联系管理员，怎么联系我也不知道！");
                }
            })
        });

        //删除
        $("#tbody").delegate(".delbtn", "click", function () {
            $(".shan").click(function () {
                $(this).modal('hide');
                var id = $("input[name=timu]:checked").attr("data-id");
                var $this = $(this);
                $.ajax({
                    url: "/doadd/" + id,
                    type: "delete",
                    success: function (data) {
                        if (data.result == 1) {
                            alert("删除成功");
                            $this.parents("tr").remove();
                            window.location.href = '/index'
                        } else {
                            alert("服务器错误！");
                        }
                    }
                });
            })
        })

        //修改
        $("#update").click(function () {
            if ($("input[name=id]:checked").length == 0) {
                var This = $("input[name=timu]:checked").parents().children();
                // console.log($(This).eq(2).html());
                var id = $(This).eq(2).html();
                $.get("/people/" + id, function (data) {
                    console.log(data.result)
                    if (data.result == -1) {
                        alert("查无此人")
                    } else {
                        $("input[name=id]").val(data.result.id);
                        $("input[name=names]").val(data.result.name);
                        $("input[name=tels]").val(data.result.tel);
                        $("input[name=addrs]").val(data.result.addr);
                        $("input[name=Idcards]").val(data.result.Idcard);
                        $("input[name=jiashis]").val(data.result.jiashi);
                    }
                })
            }
        })

        $("#ok").click(function () {
            var id = parseInt($("input[name=id]").val());
            $.post("/people/" + id, {
                names: $("input[name=names]").val(),
                tels: $("input[name=tels]").val(),
                addrs: $("input[name=addrs]").val(),
                Idcards: $("input[name=Idcards]").val(),
                jiashis: $("input[name=jiashis]").val(),
            }, function (data) {
                if (data.result == 1) {
                    alert("修改成功！");
                    window.location = "/index";
                } else {
                    alert("服务器错误！请联系管理员，怎么联系我也不知道！");
                }
            })
        })


        //分页
        $.get("/doadd?page=1", function (data) {
            //分页条
            new PageNav({
                boxid: "pagenavbox",
                page: 1,
                pageAmount: data.pageAmount,
                change: function (pagenumber) {
                    gotopage(pagenumber);
                }
            });
            gotopage(1);
        });
        function gotopage(pagenumber) {
            $("#tbody").empty();
            $.get("/doadd?page=" + pagenumber, function (data) {
                $.each(data.results, function (i, n) {
                    $tr = $("<tr class='shows'></tr>");
                    $("<td><input type='radio' class='delbtn show' name='timu' data-id='" + n.id + "'/></td>").appendTo($tr);
                    $("<td></td>").html(n.id).appendTo($tr);
                    $("<td></td>").html(n.name).appendTo($tr);
                    $("<td></td>").html(n.tel).appendTo($tr);
                    $("<td></td>").html(n.addr).appendTo($tr);
                    $("<td></td>").html(n.Idcard).appendTo($tr);
                    $("<td></td>").html(n.jiashi).appendTo($tr);
                    $tr.appendTo($("#tbody"));
                });
            });
        }


    </script>

</body>

</html>