<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>登陆</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        * {
            padding: 0;
            margin: 0;
            color: #000;
        }

        html {
            width: 100%;
            height: 100%;
        }

        body {
            background: url(/img/0.jpg)no-repeat center center;
            background-size: cover;
        }

        .box {
            border: 1px solid #ccc;
            width: 500px;
            height: 400px;
            margin: 120px auto;
            padding: 15px;
            border-radius: 20px;
            background: #ccc;
            opacity: 0.7;
        }

        h1 {
            text-align: center;
            color: #000;
        }

        .box form {
            margin-top: 40px;
            padding: 20px;
            color: #000;
        }

        #denglu {
            margin: 0 auto;
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">租车管理系统</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/reg">注册管理员</a>
                    </li>
                    <li class="active">
                        <a href="/">管理员登陆</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div class="container">
        <div class="box">
            <h1>欢迎登陆</h1>
            <form>
                <!-- <div class="form-group">
                    <label for="id">id</label>
                    <input type="text" class="form-control" name="id" id="id" placeholder="">
                </div> -->
                <div class="form-group">
                    <label for="name">用户名</label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="">
                </div>
                <div class="form-group">
                    <label for="mima">密码</label>
                    <input type="password" class="form-control" name="mima" id="mima" placeholder="">
                </div>

                <button type="button" class="btn btn-success" id="denglu">登陆</button>
            </form>
        </div>
    </div>

    <script src="js/jquery-1.12.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $("#denglu").click(function () {
            var str = $("form").serialize();
            $.post("/checklogin", str, function (data) {
                if (data.result == 1) {
                    alert("登陆成功！");
                    window.location = "/moren";
                } else if (data.result == -1) {
                    alert("用户名不存在!");
                } else if (data.result == -2) {
                    alert("用户名存在，但是密码错误！");
                }
            })
        });
    </script>

</body>

</html>